
img{
	height:200px;
	width:275px;
}

nav {
	width: 100%;
	position:relative;
	display:flex;
	justify-content:space-evenly;
	top:0%;

}

.home {
	margin-top:10%;
	text-align:center;

}

 h2 {
	text-align:center;
}
.quote{
	text-align:center;
}

.gallery{
	display:flex;
}
.contact{
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;

}
.contact form{
	display:block;
}
.contact form input{
	display:flex;
	height: 5vh;
	width: 45vw;
	border: solid black 2px;
	margin-bottom: 2px;
	margin-top:5px;
}

button{
	height: 5vh;
	width:15vw;
	border-radius:15px;
	
}

footer{
	margin-top:10%;
	text-align:center;
}